.banner
{
    background-image: url(../images/banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.banner .opacity {
    background: #666155;
    background: rgba(102,97,85,0.4);
}

.banner .content
{
    height: 560px;
    padding-top: 290px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.banner a
{
    display: inline-block;
    margin-right: 1px;
}

.banner section
{
    padding-top: 21px;
}

.banner h2
{
    margin: 0;
    font: 29px FjallaOne;
    color: #e7e7e7;
    line-height: 47px;
    letter-spacing: 0.1135em;
    text-transform: uppercase;
}

.banner h2:first-child:after
{
    width: 252px;
    height: 2px;
    display: inline-block;
    vertical-align: top;
    margin: 20px 0 0 15px;
    content: '';
    background: #e7e7e7;
}

.banner h4
{
    margin: 6px 0 0 0;
    font: 15px FjallaOne;
    color: #e84c3d;
    letter-spacing: 0.075em;
}
