.feedBackSection .content
{
    padding: 66px 0 61px 0;
}

.feedBackSection .subsectionContent
{
    padding: 30px 0 22px 0;
}

.feedBackSection .section .subsection:before
{
    width: 370px;
    height: 1px;
    display: inline-block;
    content: '';
    background: #e7e7e7;
}

.feedBackSection .section .subsection:last-child:after
{
    width: 370px;
    height: 1px;
    display: inline-block;
    content: '';
    background: #e7e7e7;
}

.feedBackSection .subsection .sectionText
{
    width: 270px;
    display: inline-block;
    padding: 5px 0 0 30px;
    font: 14px Lato;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.feedBackSection .subsection .sectionText p
{
    margin: 0;
}

.feedBackSection .subsection .reference a
{
    text-decoration: none;
    word-spacing: 0.4em;
}

.feedBackSection .subsection .reference a:hover
{
    text-decoration: none;
}

.feedBackSection .subsection .contacts a
{
    color: black;
    text-decoration: none;
}

.feedBackSection .subsection .contacts a:hover
{
    text-decoration: none;
}

.feedBackSection .icon
{
    width: 27px;
    vertical-align: top;
    margin-top: 30px;
    display: inline-block;
}

.feedBackSection .subsectionText
{
    width: 270px;
    padding: 25px 0 25px 22px;
    display: inline-block;
    font: 14px Lato;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.feedBackSection .sectionText a
{
    color: #e84c3d;
}

.feedBackSection .content .section
{
    width: 370px;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}

.feedBackSection .content .section:first-child
{
    margin-left: 0;
}

.feedBackSection .section h3
{
    margin: 0 0 25px 0;
    font: 21px FjallaOne;
    letter-spacing: 0.033em;
    text-transform: uppercase;
}

.feedBackSection .section h4
{
    margin: 0 0 3px 0;
    font: 16px Lato;
    font-weight: bold;
    color: #e84c3d;
    letter-spacing: -0.04em;
}

.feedBackSection .subsection .contacts
{
    margin: 0;
}

.feedBackSection .section form
{
    height: 330px; /* 390 - 4*margin-top */
    padding: 30px;
    background: #e7e7e7;
    font: 14px Lato;
    border-radius: 3px;
}

.feedBackSection .section form p
{
    margin: -5px 0 23px 0;
    line-height: 24px;
    letter-spacing: -0.004em;
}

.feedBackSection input[type="text"]
{
    width: 295px;
    margin: 0 0 22px 0;
    padding-left: 15px;
    border-width: 0;
    border-radius: 50px;
    color: #bfc2c3;
    font: 14px Lato;
    font-style: italic;
    line-height: 39px;
    letter-spacing: -0.06em;
}

.feedBackSection textarea
{
    width: 296px;
    margin: -2px 0 0 0;
    padding: 8px 0 34px 15px;
    border-radius: 10px;
    border-width: 0;
    color: #bfc2c3;
    font: 14px Lato;
    font-style: italic;
    line-height: 20px;
    letter-spacing: -0.055em;
    resize: none;
}

.feedBackSection button
{
    margin-top: 17px;
    padding: 10px 50px 10px 20px;
    background-color: #e84c3d;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: 65px center;
    border-width: 0;
    border-radius: 20px;
    font: 15px FjallaOne;
    color: white;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
