.mostPopularContent
{
    background: #e7e7e7;
}

.mostPopularContent .content
{
    padding: 80px 0 82px 0;
}

.mostPopularContent ul
{
    padding: 0;
    display: table;
}

.mostPopularContent li
{
    width: 400px;
    display: table-cell;
    overflow: hidden;
}

.mostPopularContent li:last-child
{
    width: 370px;
}

.mostPopularContent li img
{
    float: left;
}

.mostPopularContent li .text
{
    width: 270px;
    float: right;
    margin-left: 30px;
    margin-right: 30px;
}


.mostPopularContent li:last-child .text
{
    margin-right: 0;
}

.mostPopularContent .text h3
{
    margin: -2px 0 0 0;
    font: 21px FjallaOne;
    font-weight: normal;
    letter-spacing: 0.035em;
    text-transform: uppercase;
}

.mostPopularContent .text p
{
    -webkit-margin-after: 0;
    -webkit-margin-before: 14px;
    margin: 15px 0 0 0;
    font: 14px Lato;
    color: #767c7e;
    line-height: 25px;
    letter-spacing: -0.012em;
}

.mostPopularContent .text a
{
    margin-left: 5px;
    color: #e84c3d;
    text-decoration: none;
}
