.row1{
  background: #e7e7e7;
  height: 277px;
}

.row1 .image, .row1 .sectionText{
	padding-top: 80px;
	padding-bottom: 80px;
	height:121px;
	vertical-align: top;
}

.row1 .sectionText{
	width:270px;
 }
 
 .row1 .sectionText p{
	font:14px Lato;
	color: #767c7e;
	-webkit-margin-after: 0;
	-webkit-margin-before: 14px;
	line-height: 25px;
	margin: 15px 0 0 0;
    letter-spacing: -0.012em;
 }
 
 .row1 a{
	color:#e84c3d;
	text-decoration: none;
 }

.row1 .sectionText h3
{
    font:21px FjallaOne;
    font-weight:normal;
    margin: -2px 0 0 0;
    letter-spacing: 0.035em;
}

