.row1{
  background: #e7e7e7;
  height: 277px;
}

.row1 .image, .row1 .sectionText{
	padding-top: 80px;
	padding-bottom: 80px;
	height:121px;
	vertical-align: top;
}

.row1 .sectionText{
	width:270px;
 }
 
 .row1 .sectionText p{
	font:14px Lato;
	color: #767c7e;
	-webkit-margin-after: 0;
	-webkit-margin-before: 15px;
	line-height: 25px;
	letter-spacing: 0;
	/*height: 71px;*/
}

.row1 .sectionText h3
{
    font:20px FjallaOne;
    font-weight:normal;
    margin: 0;

}

