.row4 .image, .row4 .subsection .sectionText{
	margin: 20px 0 0 0;
}

.row4 .icon{
	margin: 0px;
	margin-top: 30px;
	vertical-align: top;
	display:inline-block;
	width: 27px;
}

.row4 .sectionText{
	width: 270px;
	font: 14px Lato;
	letter-spacing: -0.01em;
	line-height: 24px;
	display: inline-block;
 }
 
 .row4 .divMargin20{
	margin-left:22px;
	display: inline-block;
 }
 
 .row4 .subsectionRight .sectionText{
	margin:25px 0 0 0;
 }
 
 .row4 .subsectionRight .contacts{
	margin: 0px 0 0 0;
 }
 
 .row4 .sectionText a{
	color: #e84c3d;
 }
 
.row4 .section{
	width: 370px;
	display: inline-block;

	vertical-align: top;
	margin-bottom: 61px;
}

.row4 .section h3{
	margin-top: 66px;
	margin-bottom: 25px;
	font: 21px FjallaOne;
	letter-spacing: 0.037em;
}

.row4 .section h4{
	font: 16px Lato;
	margin: 0;
	font-weight: bold;
	letter-spacing: -0.04em;
	color: #e84c3d;
}

.row4 .subsection{
	/*height: 130px;*/
	padding-top: 0;
	padding-bottom: 9px;
}

.row4 .subsectionRight{
	padding-top:0;
	padding-bottom:25px;
}

.row4 .subsectionRight .contacts{
	margin: 3px 0 0 0;
}

.row4 .section form{
	background: #e7e7e7;
	padding: 30px;
	font: 14px Lato;
	height: 330px; /* 390 - 4*margin-top */
	border-radius: 3px;
}

.row4 .section form div{
	line-height: 24px;
	margin-top: -5px;
	letter-spacing: -0.004em;
	padding-bottom: 6px;
}

.row4 input[type="text"]{
	border-width: 0;
	width: 310px;
	border-radius:50px;
	margin-top: 18px;
	color: #bfc2c3;
	font: 14px Lato;
	font-style: italic;
	letter-spacing: -0.06em;
	vertical-align: top;
	box-sizing: border-box;
	line-height: 20px;
	padding-top: 9px;
	padding-bottom: 12px;
	padding-left: 15px;
}

.row4 textarea{
	width: 305px;
	border-radius: 10px;
	border-width: 0;
	margin-top: 19px;
	resize: none;
	color: #bfc2c3;
	font: 14px Lato;
	font-style: italic;
	letter-spacing: -0.055em;
	padding-left: 15px;
	box-sizing: border-box;
	padding-bottom: 15px;
	line-height: 32px;
}

.row4 button{
	border-width: 0;
	width: 100px;
	height: 40px;
	border-radius:20px;
	margin-top: 15px;
	border: 0;
	background: #e84c3d;
	color: white;
	font: 15px  FjallaOne;
}

.row4 button img{
	vertical-align: middle;
}