.searchPanel .content
{
    padding: 45px 0 43px 0;
    border-radius: 10px;
    background: #e84c3d;
    overflow: hidden;
}

.searchPanel .section
{
    width: 570px;
    display: inline-block;
}

.searchPanel .section:first-child
{
    float: left;
}

.searchPanel .section:last-child
{
    float: right;
}

.searchPanel img
{
    vertical-align: top;
    margin: 4px 30px 0 30px;
}

.searchPanel .sectionContent
{
    padding-left: 30px;
}

.searchPanel .sectionText
{
    width: 440px;
    margin: 0;
    display: inline-block;
}

.searchPanel form
{
    margin-top: 23px;
    margin-left: 3px;
}

.searchPanel h2
{
    margin: 0;
    font: 21px FjallaOne;
    color: white;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.searchPanel .text
{
    margin: 22px 0 0 0;
    font: 16px Lato;
    color: white;
    line-height: 9px;
    letter-spacing: 0.005em;
}

.searchPanel .author
{
    display: inline-block;
    font: 13px Lato;
    color: white;
    font-style: italic;
}

.searchPanel input[type="text"]
{
    width: 362px;
    height: 40px;
    padding: 0 0 0 16px;
    border-width: 0;
    border-radius: 20px;
    font: 14px Lato;
    color: #bfc2c3;
    font-style: italic;
    letter-spacing: -0.0333em;
}

.searchPanel button
{
    margin-left: 10px;
    padding: 11px 40px 10px 21px;
    background-color: #202628;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: 85px center;
    border-radius: 20px;
    border: 0;
    font: 15px FjallaOne;
    color: white;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
