/* Styles go here */
@font-face {
    font-family: FjallaOne; /* Имя шрифта */
    src: url(../fonts/FjallaOne-Regular.ttf); /* Путь к файлу со шрифтом */
    letter-spacing: 0.035em;
}
@font-face {
    font-family: Lato; /* Имя шрифта */
    src: url(../fonts/Lato-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Oswald; /* Имя шрифта */
    src: url(../fonts/Oswald-Regular.ttf); /* Путь к файлу со шрифтом */
}

body{
	width: 1920px;
	margin: 0;
}
   
header {
	  height: 80px;
	  background: #202628;
	  color: white;
	  display: flex;	  
}

header .content{
	width: 1920px;
	display:flex; 
}

header .siteName
{
    font: 25px FjallaOne;
	letter-spacing: -0.008em;/*0.025em;*/
	display: inline-block;
	margin: auto 0;
	padding-top:2px
}

header .menu{
	display: inline-block;
	/*margin: auto 0;*/
	margin-left: auto;
	/*padding-top: 2px;*/
}

header .menu li{
	display: table-cell;
	font:13px FjallaOne;
	letter-spacing: 0.027em;
	padding-left: 22px;
	padding-right: 22px;
	padding: 1px 22px 0 22px;
	vertical-align: middle;
	height: 80px;
}

header .menu li p{
	
}

.content{
  margin-left: 375px;
  margin-right: 375px;
  font-size:0px;
}

.image, .sectionText{	
	display:inline-block;
}
 
.circle{
	padding:0; margin:0;
	display:flex;
	width: 70px;
    height: 70px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
}

.circle img{
	margin: auto;
}

.sectionText{
	margin-left: 30px;	
	font: 22px FjallaOne;
}

.divMargin{
	margin-left:30px;
	display: inline-block;
}

footer{
  height: 205px;
  background:#202628;
  margin:0;
}

footer .content{
	font: 14px Lato;
	color: #e7e7e7; 
	/*vertical-align: top;*/
}

footer .sectionLeft{
	display: inline-block;
	float: left;
}

footer .sectionRight{
	display: inline-block;
	float: right;
	margin: 79px 0 0 0;
}

footer .footerText{
	padding-top: 65px;
	letter-spacing: 0.02em;
}

.content .sectionRight img{
	margin-left: 7px;
}

footer p, footer pre{
	display: inline-block;
	margin: 12px 0 0 0;
	letter-spacing: -0.009em;
}

footer .greyText, footer pre{
	color: #595f61; /*silver*/	
}

footer .orangeText{
	color: #e84c3d;/*orange*/
}